{% extends "base.html" %}
{% block content %}
<div class="column is-4 is-offset-4">
	<h3 class="title">Login</h3>
	<div class="box">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div class="notification is-danger">
					{{ messages[0] }}
				</div>
			{% endif %}
		{% endwith %}
		<form method="POST" action="{{ urlPost }}">
				<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
			<div class="field">
				<div class="control">
					<input class="input is-large" type="text" name="username_or_email" placeholder="Your Username or E-mail" autofocus="">
				</div>
			</div>
			<div class="field">
				<div class="control">
					<input class="input is-large" type="password" name="password" placeholder="Your Password">
				</div>
			</div>
			<div class="field">
				<label class="checkbox">
					<input type="checkbox" name="persistCookies" value="yes">
					Remember me
				</label>
			</div>
			<button class="button is-block is-info is-large is-fullwidth" action="submit">Login</button>
		</form>
		{% if passkeys_enabled %}
			<div id="passkey-login-ui" class="mt-4" hidden data-passkey-options-url="{{ passkey_login_options_url }}" data-passkey-finish-url="{{ passkey_login_finish_url }}">
				<hr>
				<button class="button is-block is-light is-fullwidth" type="button" id="passkey-login-button">Sign In With Passkey</button>
				<p class="help is-danger mt-2" id="passkey-login-status" hidden></p>
			</div>
		{% endif %}
	</div>
</div>
{% if passkeys_enabled %}
<script src="{{ passkey_login_script_url }}"></script>
{% endif %}
{% endblock %}
